body {
    box-sizing: border-box;
    margin:0;
    background: #ff9966;  /* fallback for old browsers */
    background: linear-gradient(to right, #ff5e62, #ff9966);  
    font-family: 'IBM Plex Serif', serif;
}

.contenedor {
    background-color: white;
    min-height: calc( 100vh - 20px ); /* vh es una medida relativa en función del viewport. vh sería viewport height y vw sería viewport width. En este caso le decimos que ocupe el 100% del alto del viewport menos 20px */
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 30px 0 30px;
}

nav {
    background-color: #3F51B5;
}
nav ul {
    list-style:none;
    margin:0;
    padding:0;
}
nav ul li {
    padding: 20px;
}
nav ul li:hover {
    background-color: #1a2770;
}
nav ul a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}


/** Menu Sencillo **/
@media screen and (min-width:768px) { /*Pantalla grande*/
    .sencillo ul{
        display: flex;   
        flex-direction: row;      
        justify-content: space-around;       
    }

}

.sencillo ul li{
    display: flex;
    flex-direction: row;  
    justify-content: center;
}



/* Iconos */
@media screen and (min-width:768px) { /*Pantalla grande*/
    .iconos ul{
        display: flex;   
        flex-direction: row;      
        justify-content: space-around;      
    }

}

@media screen and (min-width:480px) { /*Pantalla intermedia*/
    .iconos ul{
        display: flex;           
        flex-wrap: wrap;   
        flex: 0 2 40%;
        justify-content: space-around;       
    }
}

@media screen and (max-width:480px) { /*Pantalla pequeña*/
    .iconos ul{
        display: flex;  
        flex-direction: column;
        align-items: center;
        flex: 0 1 70%;
    }
}

i{
    font-size: 35px;
    color: white;
    margin-right: .5em;
}

/** Multinivel **/
@media screen and (min-width:768px) { /*Pantalla grande*/
    .dropdown ul{
        display: flex;    
        flex-direction: row;      
        justify-content: space-around;  
    }

    .dropdown ul li{
        position: relative;       
    }

    .dropdown ul li ul {
        display: none;
    }

    .dropdown ul li:hover ul{ 
        display: flex;        
        flex-direction: column;
    }

}

.dropdown ul li ul li:hover{ /*Pantalla pequeña*/
    background-color: orangered;
}


/** Redes Socialaes**/
#iconosRedes ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;   

}



/* Social y dropdown*/
@media screen and (min-width:768px) { /*Pantalla grande*/
    #iconosDropDown{
        display: flex;
    }

    #iconosDropDown ul:nth-child(1){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    #iconosDropDown ul li ul:nth-child(2){
        display: none;
    }

    #iconosDropDown ul li:hover ul{
        display: flex;
        flex-direction: column;
    }

    #iconosDropDown :nth-child(2){ /*Lista de iconos*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;        
    }
       

    #iconosDropDown ul li ul li:hover{ /*Pantalla pequeña*/
        background-color: orangered;
    }

}
@media screen and (max-width:768px) {
    #iconosDropDown{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #iconosDropDown ul:nth-child(1) {
        display: flex;
        flex-direction: column;

    } 

    #iconosDropDown ul:nth-child(1) li ul {
        display: flex;
        flex-direction: column;

    } 

    #iconosDropDown ul:nth-child(2){ /*Lista de iconos*/
        display: flex;
        flex-direction: row;
        justify-content: flex-end;        
    } 

    #iconosDropDown :nth-child(2) li{
        width: 5%;        
    }

    #iconosDropDown ul li ul a:hover{ /*Pantalla pequeña*/
        background-color: orangered;
    }

   
}




